.pages-heading::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    width: 30px !important;
    height: 2px;
    background-color: #FF5757;
}

@media screen and (max-width: 767px) {
    .pages-heading::after{
        width: 25px !important;
    }
  }